.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 0;
}

.gallery-item {
  list-style: none;
  margin: 10px;
  width: calc(33.33% - 20px);
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  max-width: 100%;
  height: auto;
}

.gallery-image,
.gallery-item,
.gallery-link,
.gallery:hover {
  cursor: url("../bxs_hand-down.png"), auto;
}
